.action(ng-switch="$ctrl.status")
  a(ng-switch-when="checking", title=__('Checking availability of this attachment on LinShare'))
    i.mdi.mdi-cloud-outline
    span.label #{__('Checking...')}

  a(ng-switch-when="saving", title=__('This attachment is being saved to LinShare'))
    i.mdi.mdi-cloud-sync
    span.label #{__('Saving...')}

  a(ng-switch-when="saved", target="_blank", ng-href="{{::$ctrl.attachment.linshareUrl}}", title=__('Click to open this attachment in LinShare'))
    i.mdi.mdi-cloud-check
    span.label #{__('Saved')}

  a(ng-switch-default, ng-click="$event.stopPropagation(); $ctrl.onSaveBtnClick()", href="", title=__('Save this attachment to LinShare'), target="_blank")
    i.mdi.mdi-cloud-upload
    span.label #{__('Save')}
